<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>

<meta charset="utf-8"></meta>

<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<title>星之海志愿者公会</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css
"
	integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w="
	crossorigin="anonymous"></link>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css
"
	integrity="sha256-ZT4HPpdCOt2lvDkXokHuhJfdOKSPFLzeAJik5U/Q+l4="
	crossorigin="anonymous"></link>
<link rel="stylesheet" href="/mobile/mynavbar_mobilepage.min.css"></link>
<link rel="stylesheet" href="/mobile/myfootbar_mobilepage.min.css"></link>
<link rel="stylesheet" href="/all_orders.min.css"></link>
</head>

<body>
	<div  class="container-fluid">

	<div class="container row">
		<table>
			<thead>
				<tr>
					<td></td>
				</tr>
			</thead>
			<tbody id="activitys">
				<tr th:each="activity:${result}">
					<td><a th:attr="data-activityid=${activity.activityId}"
						href="javascript:void(0)" th:text="${activity.activityName}"></a></td>
				</tr>
			</tbody>
		</table>
		<br />
		<div id="pages">
			<a href="javascript:void(0)"
				th:text="${nowPage}-1 gt 0 ? ${nowPage}-1 : null"></a> <span
				th:text="${nowPage}"></span> <a href="javascript:void(0)"
				th:text="${nowPage}+1 le ${totalPage}? ${nowPage}+1 : null"></a>
		</div>
	</div>
	<form id="activityDetail row" action="/activity/detail" method="get">
		<input id="activityId" type="hidden" name="activityId" />
	</form>
	</div>


	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js
"
		integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8="
		crossorigin="anonymous"></script>
	<script th:inline="javascript">
        let user=[[${session.userId}]];
	</script>
	<script src="/mobile/header_and_footer.min.js"></script>
	<script src="/common.min.js"></script>
	<script src="/activity.min.js"></script>

</body>

</html>