<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>

<meta charset="utf-8"></meta>

<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<title>星之海志愿者公会</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css
"
	integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w="
	crossorigin="anonymous"></link>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css
"
	integrity="sha256-ZT4HPpdCOt2lvDkXokHuhJfdOKSPFLzeAJik5U/Q+l4="
	crossorigin="anonymous"></link>
<link rel="stylesheet" href="/mynavbar_commonpage.min.css"></link>
<link rel="stylesheet" href="/myfootbar_commonpage.min.css"></link>
<link rel="stylesheet" href="/activity_detail.min.css"></link>
</head>
<body>



	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="head">
					<h1 th:text="${activity.activityName}" class="headh1">No Title</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-7">
				<div class="leftcont">
					<div class="leftbox">
						<div class="contentpara">
							<p th:utext="${activity.activityContent}"></p>
						</div>
						<div th:if="${activity.activityStatus eq 2}">
							<h4>你可以通过以下的方式参与众筹:</h4>
							<img class="fundimg" src="/zfb.jpg" /> <img class="fundimg"
								src="/wechat.jpg" />
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-5">
				<div class="rightcont" th:if="${activity.activityStatus eq 2}">
					<div id="messagebox">
					</div>
					<h4>众筹金额</h4>
					<p><small>(点击确定后将跳转至第四方支付页面)</small></p>
					<input id="MoneyInput" type="text"/>
					<h4>众筹留言</h4>
					<form id="form1" method="post" action="/activity/funding/participate">
						<input id="MessageInput" type="text" name="fundingMessage"/>
						<input id="fundingMoney" type="hidden" name="fundingMoney" />
						<input type="hidden" name="activityId" th:value="${activityId}" />
					</form>
					<div class="checkbox">
						<a class="checkbutton">确认</a>
					</div>
				</div>
				<div class="rightcont" id="namebox">
					<div class="rightbox" id="rightbox">
						<h4 th:text="'众筹总金额为:'+${activity.activityMoney}">No data</h4>
						<ul class="newbox" th:each="funding:${fundings}">
							<li class="everybox"><span
								th:if="${funding.fundingMoney} gt ${fundingFactor}"
								th:text="${funding.fundingName}" class="fnamebold">No
									data</span> <br /> <span
								th:if="${funding.fundingMoney} le ${fundingFactor}"
								th:text="${funding.fundingName}" class="fname">No data</span> <br />
								<span th:text="${funding.fundingMoney}" class="fmoney">No
									data</span> <span th:text="${funding.fundingMessage}" class="fms">No
									data</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js
"
		integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8="
		crossorigin="anonymous"></script>
	<script th:inline="javascript">
        let user=[[${session.userId}]];
	</script>
	<script src="/activity_detail.min.js"></script>
	<script src="/mynavbar_commonpage.min.js"></script>
	<script src="/header_and_footer.min.js"></script>
</body>

</html>