<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>

<meta charset="utf-8"></meta>

<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<title>星之海志愿者公会</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css
"
	integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w="
	crossorigin="anonymous"></link>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css
"
	integrity="sha256-ZT4HPpdCOt2lvDkXokHuhJfdOKSPFLzeAJik5U/Q+l4="
	crossorigin="anonymous"></link>
<link rel="stylesheet" href="/mynavbar_commonpage.min.css"></link>
<link rel="stylesheet" href="/myfootbar_commonpage.min.css"></link>
<link rel="stylesheet" href="/add_order.min.css"></link>

</head>
<body>

	<div class="pagetitle">
		<h1 class="h1 pagetitleh1">收货信息填写</h1>
		<h2 class="h2 pagetitleh2">Information Fill-in</h2>
	</div>
	<div class="processbar">
		<ul class="ul">
			<li class="processbarli text-center">作品信息</li>
			<li class="processbarli text-center">></li>
			<li class="processbarli text-center nowprocess">确认订单</li>
			<li class="processbarli text-center">></li>
			<li class="processbarli text-center">处理结果</li>
		</ul>
	</div>

	<div class="container main">
		<h1 class="h2">收货人信息</h1>

		<form id="addOrderForm" class="container" action="/order/add"
			method="post">

			<div class="row">
				<div class="col-xs-6">
					<p>收货人姓名:</p>
				</div>
				<div class="col-xs-6">
					<input type="text" name="orderName" id="ordname" />
				</div>

			</div>

			<div class="row">
				<div class="col-xs-6">
					<p>手机号:</p>
				</div>
				<div class="col-xs-6">
					<input type="text" name="orderPhone" id="ordphone" />
				</div>
			</div>

			<div class="row">
				<div class="col-xs-6">
					<p>收货地址</p>
				</div>
				<div class="col-xs-6">
					<a id="addressbutton"> 请点击选择地址 </a>
					<div class="container addressmap">
						<div class="row" id="addressnav">
							<div class="col-xs-4">
								<a class="navbutton" id="provincenav"> 省/直辖市 </a>
							</div>
							<div class="col-xs-4">
								<a class="navbutton" id="citynav"> 城市 </a>
							</div>
							<div class="col-xs-4">
								<a class="navbutton" id="areanav"> 县区 </a>
							</div>
						</div>
						<div class="container-fluid addresspanel row" id="province">
						</div>
						<div class="container-fluid addresspanel row" id="city"></div>
						<div class="container-fluid addresspanel row" id="area"></div>
					</div>

					<input type="hidden" id="areasub" name="orderArea" />
				</div>
			</div>

			<div class="row">
				<div class="col-xs-6">
					<p>收货详细地址</p>
				</div>
				<div class="col-xs-6">
					<input type="text" name="orderAddress" id="ordadddel" />
				</div>
			</div>

			<div class="row">
				<div class="col-xs-6">
					<p>
						收货人电子邮箱：<span class="note">(*接收运单号使用)</span>
					</p>
				</div>
				<div class="col-xs-6">
					<input type="text" name="orderEmail" id="ordemail" />
				</div>
			</div>

			<div class="row">
				<div class="col-xs-6">
					<p>备注:</p>
				</div>
				<div class="col-xs-6">
					<input type="text" name="orderRemark" id="orderRemark" />
				</div>
			</div>

			<div class="row">
				<div class="col-xs-6">
					<p class="note" id="advice">(*您有什么想对我们说的？或者有什么特殊要求？请在这里告诉我们)</p>
				</div>
				<div class="col-xs-6">
					<div th:each="workType,status:${workTypes.workTypes}">
						<input type="hidden"
							th:name="'orderDetails['+${status.index}+'].workId'"
							th:value="${workType.workId}" /> <input type="hidden"
							th:name="'orderDetails['+${status.index}+'].workTypeId'"
							th:value="${workType.workTypeId}" />
					</div>
				</div>

				<input type="hidden" name="token" th:value="${token}" />
			</div>

			<div class="row">
				<div class="col-xs-6"></div>
				<div class="col-xs-6">
					<button id="addOrderBtn" class="btn btn-danger">提交</button>
				</div>

			</div>

		</form>

	</div>
	<div class="addheight"></div>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js
"
		integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8="
		crossorigin="anonymous"></script>
	<script th:inline="javascript">
        let user=[[${session.userId}]];
	</script>
	<script src="/compatible/compatible.min.js"></script>
	<script th:inline="javascript">
        var provinces = [[${provinces}]];
        compatible("/old/add_order.min.js","/add_order.min.js");
	</script>
	<!-- <script src="/add_order.min.js"></script> -->
	<script src="/mynavbar_commonpage.min.js"></script>
	<script src="/header_and_footer.min.js"></script>

</body>
</html>