<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>

    <meta charset="utf-8"></meta>

    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>

    <title>星之海志愿者公会</title>
    <link rel="stylesheet"
          href="https://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>
    <link rel="stylesheet"
          href="https://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"></link>
    <link rel="stylesheet" href="/mynavbar_commonpage.min.css"></link>
    <link rel="stylesheet" href="/myfootbar_commonpage.min.css"></link>

</head>

<body>

<div class="container">
    <table>
        <thead>
        <tr>
            <td></td>
        </tr>
        </thead>
        <tbody id="activitys">
        <tr th:each="activity:${result}">
            <td><a th:attr="data-activityid=${activity.activityId}"
                   href="javascript:void(0)" th:text="${activity.activityName}"></a></td>
        </tr>
        </tbody>
    </table>
    <br/>
    <div id="pages">
        <a href="javascript:void(0)"
           th:text="${nowPage}-1 gt 0 ? ${nowPage}-1 : null"></a> <span
            th:text="${nowPage}"></span> <a href="javascript:void(0)"
                                            th:text="${nowPage}+1 le ${totalPage}? ${nowPage}+1 : null"></a>
    </div>
</div>

<form id="activityDetail" action="/activity/detail" method="get">
    <input id="activityId" type="hidden" name="activityId"/>
</form>


<script src="https://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="/common.min.js"></script>
<script src="/mynavbar_commonpage.min.js"></script>
<script src="/activity.min.js"></script>
<script src="/header_and_footer.min.js"></script>
</body>

</html>