<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css
"
	integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w="
	crossorigin="anonymous"></link>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css
"
	integrity="sha256-ZT4HPpdCOt2lvDkXokHuhJfdOKSPFLzeAJik5U/Q+l4="
	crossorigin="anonymous"></link>
<title>星之海志愿者公会</title>
<link rel="stylesheet" href="/boss.min.css"></link>
</head>
<body>
	<div class="container-fluid">

		<div class="span2 col-md-3">
			<h1>您好，亲爱的管理员</h1>
			<br /> <br />
			<ul class="nav nav-list">
				<li class="nav-header">功能</li>
				<li class="active"><a href="/workmanage.html" target="right">作品管理</a>
				</li>
				<li><a href="/oldmanage.html" target="right">订单管理</a></li>
				<li><a href="/actmanage.html" target="right">活动管理</a></li>
				<li><a href="/question.html" target="right">意见箱</a></li>
			</ul>
		</div>
		<div class="span10 col-md-9">
			<iframe src="" name="right"></iframe>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12"></div>

	</div>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js
"
		integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8="
		crossorigin="anonymous"></script>
</body>
</html>