<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <title>星之海志愿者公会</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w="
          crossorigin="anonymous"></link>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha256-ZT4HPpdCOt2lvDkXokHuhJfdOKSPFLzeAJik5U/Q+l4="
          crossorigin="anonymous"></link>
    <link rel="stylesheet" href="/changepassword.min.css"></link>
    <link rel="stylesheet" href="/mynavbar_commonpage.min.css"></link>
    <link rel="stylesheet" href="/myfootbar_commonpage.min.css"></link>
</head>
<body>
<div id="mainwindow">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1>修改密码</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12" id="messagebox">

            </div>
        </div>


        <div class="row">
            <div class="col-xs-3">
                <h3>用户密码</h3>
            </div>
            <div class="col-xs-9 inputbox">
                <input type="password" id="formprepassword" value="">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <h3>新密码</h3>
            </div>
            <div class="col-xs-9 inputbox">
                <input type="password" id="formnewpassword" value="">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <h3>确认密码</h3>
            </div>
            <div class="col-xs-9 inputbox">
                <input type="password" id="formcheckpassword" value="">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
            </div>
            <div class="col-xs-9 inputbox">
                <a class="submitbt" id="submitbt1">提交</a>
            </div>
        </div>
        <form id="resultform" action="/user/changePassword" method="post">
            <input id="currentPassword" name="currentPassword" type="hidden" value="">
            <input id="newPassword" name="newPassword" type="hidden" value="">
        </form>
        <div class="imgbox1">
            <img class="img-responsive" src="/70.png">
        </div>
    </div>
</div>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"></script>
<script src="/header_and_footer.min.js"></script>
<script src="/changepassword.min.js"></script>
<script src="/mynavbar_commonpage.min.js"></script>
</body>
</html>