<!DOCTYPE html>
<html lang="cn">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>星之海志愿者公会</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css
"
	integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w="
	crossorigin="anonymous"></link>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css
"
	integrity="sha256-ZT4HPpdCOt2lvDkXokHuhJfdOKSPFLzeAJik5U/Q+l4="
	crossorigin="anonymous"></link>
<link rel="stylesheet" href="/hire.min.css">
<link rel="stylesheet" media="screen and (min-width: 992px)"
	href="/mynavbar_commonpage.min.css"></link>
<link rel="stylesheet" media="screen and (max-width: 991px)"
	href="/mobile/mynavbar_mobilepage.min.css"></link>
<link rel="stylesheet" media="screen and (min-width: 992px)"
	href="/myfootbar_commonpage.min.css"></link>
<link rel="stylesheet" media="screen and (max-width: 991px)"
	href="/mobile/myfootbar_mobilepage.min.css"></link>
</head>

<body class="container-fluid">
	<div class="container-fluid common-navbar">
		<nav class="row heading" role="navigation" id="mybar">
			<div class="navbar-header">
				<a href="/" class="col-sm-4"> <img src="/starsea.png"
					class="navimg"></img>
				</a> <span class="col-sm-4"> </span>
				<button class="navbar-toggle col-sm-4" data-toggle="collapse"
					data-target="#shownav" id="btnnav">
					<span class="glyphicon glyphicon-menu-hamburger"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse navbar-right" id="shownav">
				<ul class="nav navbar-nav mynavul">
					<li class="myli"><a href="/work" class="anav">作品阅览</a></li>
					<li class="myli"><a href="/activity" class="anav">活动众筹</a></li>
					<li class="myli"><a href="/intro" class="anav">组织介绍</a></li>
				</ul>
			</div>

		</nav>
	</div>
	<!--Mobile Navbar-->
	<div class="navbartop container-fluid row">
		<div class="row">
			<div class="navbar-header col-xs-3">
				<a href="/"><img src="/starsea.png" class="navimg"></img></a>
			</div>
			<div class="navbar-right col-xs-9 text-right">
				<a href="/work" class="ma text-right">作品</a> <a href="/activity"
					class="ma text-right">活动</a> <a href="/intro"
					class="ma text-right">关于</a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 imgbarcontainer">
				<img class="imgbar" src="/navbar.jpg"></img>
			</div>
		</div>
	</div>

	<!--主容器-->
	<div class="uk-container">
		<!--Heading-->
		<h2>星之海网站组招聘</h2>
		<!--简介-->
		<blockquote>
			<p class="uk-margin-small-bottom">欢迎来到星之海网站组招聘主页</p>
		</blockquote>
		<p class="uk-text-lead">目前我们还没有人才招聘的需求哦</p>
	</div>

	<div class="footbar text-center navbar-fixed-bottom">
		<p class="footbarpara">互联网ICP备案：鲁ICP备17053445号</p>
	</div>

	<div class="mfoot text-center row">
		<p class="footp">互联网ICP备案：鲁ICP备17053445号</p>
	</div>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js
"
		integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8="
		crossorigin="anonymous"></script>
	<script src="/mynavbar_commonpage.min.js"></script>
</body>

</html>
