<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="cn">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>星之海志愿者公会</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css
"
	integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w="
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css
"
	integrity="sha256-ZT4HPpdCOt2lvDkXokHuhJfdOKSPFLzeAJik5U/Q+l4="
	crossorigin="anonymous">
<link rel="stylesheet" href="/hire.min.css">
<link rel="stylesheet" href="/mynavbar_commonpage.min.css">
<link rel="stylesheet" href="/myfootbar_commonpage.min.css">
</head>

<body>

	<!--主容器-->
	<div class="uk-container">
		<!--Heading-->
		<h2>星之海网站组招聘</h2>
		<!--简介-->
		<blockquote>
			<p class="uk-margin-small-bottom">欢迎来到星之海网站组招聘主页</p>
		</blockquote>
		<p class="uk-text-lead">目前我们还没有人才招聘的需求哦</p>
	</div>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js
"
		integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8="
		crossorigin="anonymous"></script>

	<script th:inline="javascript">
        let user=[[${session.userId}]];
	</script>
	<script src="/header_and_footer.min.js"></script>
	<script src="/mynavbar_commonpage.min.js"></script>
</body>

</html>
