<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">

<head>

<meta charset="utf-8"></meta>

<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<title>星之海志愿者公会</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css
"
	integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w="
	crossorigin="anonymous"></link>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css
"
	integrity="sha256-ZT4HPpdCOt2lvDkXokHuhJfdOKSPFLzeAJik5U/Q+l4="
	crossorigin="anonymous"></link>
<link rel="stylesheet" href="/wangEditor.min.css"></link>
<link rel="stylesheet" href="/mycss.min.css"></link>
<link rel="stylesheet" href="/index.min.css"></link>

</head>

	<div id="nav1">
		<div id="navup">
			<img id="navbg" src="/indexnav.jpg">
			<!--
			<div id="titlecover"></div>
			<div id="title">
				<p id="title1">星之海</p>
				<p id="title1clone">星之海</p>
				<img id="titlefigure" src="/starsea.png">
				<p id="title2">志愿者公会</p>
				<p class="titlepara" id="paran1">致力于传递LoveLive Sunshine的魅力</p>
				<p class="titlepara" id="paran2">Aqours events应援</p>
			</div>
			<div id="rtn1"></div>
			-->
		</div>
		<div id="navdown">
			<div id="rtn4"></div>
			<div id="rtn2"></div>
			<div id="rtn3"></div>
			<div id="navbar">
				<a class="navbutton" href="/work" id="nb1">
					<img class="buttonimg" src="/作品预览.png">
					<p class="buttontext">作品预览</p>
				</a>
				<a class="navbutton" href="/activity" id="nb2">
					<img class="buttonimg" src="/活动众筹.png">
					<p class="buttontext">活动众筹</p>
				</a>
				<a class="navbutton" href="/intro.html" id="nb3">
					<img class="buttonimg" src="/组织介绍.png">
					<p class="buttontext">组织介绍</p>
				</a>
			</div>

		</div>
	</div>
	<div class="main" id="page1">
		<div id="rt1"></div>
		<div id="rt2"></div>
		<div id="rt3"></div>
		<div id="rt4"></div>
		<div id="rt5"></div>
		<div id="line1"></div>
		<div id="line2"></div>
		<div id="text1">
			<p id="para1">部分作品预览&nbsp;</p>
			<div class="smallbar" id="rt6"></div>
			<p id="para2">Preview of Some Works</p>
		</div>
		<img class="midpic" id="pic1" src="/01.jpg">
		<img class="midpic" id="pic2" src="/02.jpg">
		<img class="midpic" id="pic3" src="/03.jpg">
	</div>

	<div id="page2">
		<img id="pic2_1" src="/04.jpg">
		<img id="pic2_2" src="/05.jpg">
		<img class="img-responsive" id="pic2_3" src="/08.jpg">
		<div id="block2_1">
			<div id="block2_2">
				<p id="para2_1">沼津巡礼 </p>
				<p id="para2_2">纪念地图式海报 </p>
				<div class="smallbar" id="rt2-3"></div>
				<p id="para2_3">“每一次都是纪念册，做一点新东西怎么样？”</p>
				<p id="para2_4">&nbsp;于是，这份巨大的地图诞生了。</p>
				<div id="rt2_1"></div>
				<div id="rt2_2"></div>
				<img class="midpic" id="pic2_4" src="/06.jpg">
				<img class="midpic" id="pic2_5" src="/07.jpg">
			</div>
		</div>
		<div id="orangebar"></div>
	</div>
	<div class="container" id="page3">
		<div class="row">
			<div class="col-xs-7">
				<img class="img-responsive" id="pic3_1" src="/TOW.png">
			</div>
			<div class="col-xs-5">
				<p id="para3_1">我们的工作</p>
				<div class="smallbar" id="rt3_1"></div>
				<p class="mainline">星之海的主要工作是为Aqours在国内进行的活动</p>
				<p class="mainline">制作callbook、应援物进行免费的发放，</p>
				<p class="mainline">并在live时为大家提供力所能及的志愿服务。</p>
				<p class="mainline">想要以那“第十人”为目标，努力做到最好！</p>
			</div>
		</div>
	</div>
	<div id="bottombar">
		<div class="container">
			<div class="row">
				<div class="col-xs-5">
					<p id="bottomtext">友情链接<span style="font-size:16px;">Blogroll</span></p>
				</div>
				<div class="col-xs-2">
					<a href="https://aqours.tv/">
						<img class="img-responsive bottompic" id="pic3_2" src="/logo1.png">
					</a>

				</div>
				<div class="col-xs-2">
					<a href="https://lovelive.ws/">
						<img class="img-responsive bottompic" id="pic3_3" src="/logo2.png">
					</a>
				</div>
				<div class="col-xs-2">
					<a href="https://twi.lovelive.cx/">
						<img class="img-responsive bottompic" id="pic3_4" src="/yglnlogo.png">
					</a>
				</div>
				<div class="col-xs-1">

				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
					<p>互联网ICP备案：鲁ICP备17053445号</p>
				</div>
			</div>
		</div>
	</div>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js
"
		integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8="
		crossorigin="anonymous"></script>
	<script src="/index.min.js"></script>

</body>

</html>