<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>

<meta charset="utf-8"></meta>

<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<title>星之海志愿者公会</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css
"
	integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w="
	crossorigin="anonymous"></link>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css
"
	integrity="sha256-ZT4HPpdCOt2lvDkXokHuhJfdOKSPFLzeAJik5U/Q+l4="
	crossorigin="anonymous"></link>
<link rel="stylesheet" href="/mycss.min.css"></link>
<link rel="stylesheet" href="/intro.min.css"></link>
<link rel="stylesheet" href="/mynavbar_commonpage.min.css"></link>
<link rel="stylesheet" href="/myfootbar_commonpage.min.css"></link>
</head>

<body>
	<div class="container">
		<h1 class="text-center introh1 h1">关于我们</h1>
		<p></p>
		<br /> <br />
		<p class="text-left intro">“麦克风还正常吗？Check,1,2,OK.”</p>
		<p class="text-left intro">
			大家好，我们是星之海志愿者公会，致力于为校园偶像在中国国内的Event应援、向各位传递LoveLove!Sunshine!!的魅力的组织！想要成为Aqours的【第十人】，我们凭借各自微小的力量聚集在了一起，为Aqours在国内的活动多次制作了CallBook，宣传折页，徽章等纪念品，力图将校园偶像带给我们的温暖传递下去，为热爱校园偶像的每一个人留下一份温暖而珍贵的回忆！</p>
		<p class="text-left intro">从组织前身的μ’S Final LoveLive
			Callbook制作组走来，我们制作了包括但不限于Aqours 的1st 与2nd
			的CallBook以及BML-SP的宣传折页和其他相应的纪念徽章在内的应援物，并且还在致力于为大家提供更精美，更多样的纪念品！</p>
		<p class="text-left intro">
			制作纪念品时的花销来自于成员们的众筹款，每一次的详细花销我们都记录在册，留下你与我们一同创造的故事的痕迹！我们相信，在大家共同的努力下，我们定能创造出【大家一起实现的崭新的故事】!<br />
		</p>
		<p class="text-left intro">
			如果您对我们有任何意见、建议或者是单纯的留言,可以<a href="/question">点击这里</a>向我们提出。
		</p>
		<blockquote>
			<p>それは階段 それとも扉</p>
			<p>夢のかたちは色々あるんだろう</p>
			<p>そして繋がれ みんな繋がれ</p>
			<p id="textorange">夜空を照らしにいこう！</p>
			<small>Aqours<cite title="Source Title">夢で夜空を照らしたい</cite></small>
		</blockquote>
		<p class="text-left intro">
			同时，我们星之海官网项目组也在招揽专业的软件开发人才，你可以<a href="/hire">点击这里</a>加入我们。
		</p>
	</div>
	<div class="container weibo">
		<div class="text-center">
			<h1 class="text-center h1" id="jieshao">我们的微博</h1>
			<iframe id="weibo" frameborder="0"
				src="http://v.t.sina.com.cn/widget/widget_blog.php?uid=6241874149"
				scrolling="no"></iframe>
		</div>


	</div>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js
"
		integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8="
		crossorigin="anonymous"></script>
	<script th:inline="javascript">
        let user=[[${session.userId}]];
	</script>
	<script src="/header_and_footer.min.js"></script>
</body>
</html>