<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>

<meta charset="utf-8"></meta>

<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<title>星之海志愿者公会</title>
<link rel="stylesheet"
	href="https://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>
<link rel="stylesheet"
	href="https://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"></link>
<link rel="stylesheet" href="/mynavbar_commonpage.min.css"></link>
<link rel="stylesheet" href="/myfootbar_commonpage.min.css"></link>
<link rel="stylesheet" href="/orders_details.min.css"></link>

</head>
<body>

	<div class="main container">
		<h1 class="h2">收货人信息</h1>

		<div class="row">
			<div class="col-xs-6">
				<p>收货人姓名:</p>
			</div>
			<div class="col-xs-6" th:text="${order.orderName}">
				No data
			</div>
		</div>

		<div class="row container inner1"  th:each="orderDetail:${orderDetails}">
			<div class="row">
				<div class="col-xs-6">
					<p>作品名称:</p>
				</div>
				<div class="col-xs-6" th:text="${orderDetail.workName}">
					No data
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<p>作品类型:</p>
				</div>
				<div class="col-xs-6" th:text="${orderDetail.workTypeName}">
					No data
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6">
				<p>收获详细地址:</p>
			</div>
			<div class="col-xs-6" th:text="${order.orderAddress}">
				No data
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6">
				<p>发货状态:</p>
			</div>
			<div class="col-xs-6" th:text="${order.orderStatus}">
				No data
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6">
				<p>快递单号:</p>
			</div>
			<div class="col-xs-6" th:text="${order.orderExpressnum}">
				No data
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6">
				<p>下单时间</p>
			</div>
			<div class="col-xs-6" th:text="${order.orderTime}">
				No data
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6">
				<p>电子邮件:</p>
			</div>
			<div class="col-xs-6" th:text="${order.orderEMail}">
				No data
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6">
				<p>备注:</p>
			</div>
			<div class="col-xs-6" th:text="${order.orderRemark}">
				No data
			</div>
		</div>

		<div class="col-xs-6">
			<form id="modifySendForm" action="/order/address/send" method="post">
				<input type="hidden" name="orderNum" th:value="${order.orderNum}" />
			</form>
		</div>
		<button id="modifyAddressBtn" class="btn btn-danger">修改地址</button>
	</div>

	<script src="https://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="/mynavbar_commonpage.min.js"></script>
	<script th:inline="javascript">
        /*<![CDATA[*/
        var orderStatus=/*[[${order.orderStatus}]]*/;
        $("#modifyAddressBtn").hide();
        if(orderStatus=="未发货"){
            $("#modifyAddressBtn").show();
        }
        /*]]>*/

        $("#modifyAddressBtn").on("click",function(e){
            $("#modifySendForm").submit();
        });
	</script>
	<script src="/header_and_footer.min.js"></script>

</body>
</html>