<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8"></meta>
<title>星之海志愿者公会</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css
"
	integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w="
	crossorigin="anonymous"></link>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css
"
	integrity="sha256-ZT4HPpdCOt2lvDkXokHuhJfdOKSPFLzeAJik5U/Q+l4="
	crossorigin="anonymous"></link>
<link rel="stylesheet" href="/mynavbar_commonpage.min.css"></link>
<link rel="stylesheet" href="/shopcar.min.css"></link>

</head>
<body>
	<div class="pagetitle">
		<h1 class="h1 pagetitleh1">购物车</h1>
		<h2 class="h2 pagetitleh2">Shopping Cart</h2>
	</div>
	<div class="processbar">
		<ul class="ul">
			<li class="processbarli text-center">作品信息</li>
			<li class="processbarli text-center">></li>
			<li class="processbarli text-center nowprocess">确认订单</li>
			<li class="processbarli text-center">></li>
			<li class="processbarli text-center">处理结果</li>
		</ul>
	</div>
	<form class="form ">
		<div class="container upperform">
			<div class="formtitle row">
				<div class="col-xs-1  ">
					<input type="checkbox" class="selectall" /> 全选
				</div>
				<div class="col-xs-3 text-center">
					<p></p>
				</div>
				<div class="col-xs-3  text-center">
					<p>商品信息</p>
				</div>
				<div class="col-xs-2  text-center">
					<p></p>
				</div>
				<div class="col-xs-2  text-center">
					<p>操作</p>
				</div>
			</div>
			<div id="NoItemDiv" class="noitem">购物车中无物品</div>
			<div class="formdata row" th:each="workType,status:${workTypes}">
				<div class="col-xs-1 selectwork">
					<input type="checkbox" class="selectallinput" />
				</div>
				<div class="col-xs-3 workimg text-center">
					<img th:attr="src=${workType.workCover}" class="workimgimg" />
				</div>
				<div class="col-xs-3 workname text-center">
					<p th:text="${workType.workName}" class="worknamep">workName</p>
				</div>
				<div class="col-xs-2 worktype text-center">
					<p th:text="${workType.workTypeName}" class="worktypep">workType</p>
					<p class="workstock">
						<span>库存：</span><span th:text="${workType.stock}"></span>
					</p>
				</div>
				<div class="col-xs-2 workdel text-center">
					<a th:href="@{'/car/remove/'+${status.index}}+'?token='+${token}"
						class="workdela">删除</a>
				</div>
			</div>
		</div>

		<div class="addheight2"></div>

		<div class="navbar-fixed-bottom container-fluid" id="jiesuanbar">
			<div class="col-xs-2 text-center selectallc">
				<div class="vertical-center">
					<input type="checkbox" class="selectall" /> <span class="">
						全 选 </span>
				</div>
			</div>
			<div class="col-xs-4"></div>
			<a class="col-xs-3 text-center btncontainer" id="delselect">
				<div class="vertical-center">删除所选作品</div>
			</a>
			<div class="col-xs-3" id="confdivv">
				<button id="confbutt" class="pull-right text-center">确 认</button>
			</div>
		</div>
	</form>

	<!-- Modal -->
	<div class="modal fade" id="Modalbox" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="ModalLabel">星之海志愿者公会</h5>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8="
		crossorigin="anonymous"></script>
	<script src="/compatible/compatible.min.js"></script>
	<script src="/mynavbar_commonpage.min.js"></script>
	<script src="/modalalert.min.js"></script>
	<script src="/header_and_footer.min.js"></script>
	<script th:inline="javascript">
		var orderDetails=[[${orderDetails}]];
		var token=[[${token}]];
		compatible("/old/shopcar.min.js","/shopcar.min.js");
		compatible("/old/shoppingcar.min.js","/shoppingcar.min.js");
	</script>

</body>
</html>