<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">

<head>

    <meta charset="utf-8"></meta>

    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>

    <title>星之海志愿者公会</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w="
          crossorigin="anonymous"></link>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha256-ZT4HPpdCOt2lvDkXokHuhJfdOKSPFLzeAJik5U/Q+l4="
          crossorigin="anonymous"></link>
    <link rel="stylesheet" href="/register.min.css"></link>
    <link rel="stylesheet" href="/userspace.min.css"></link>
    <link rel="stylesheet" href="/mynavbar_commonpage.min.css"></link>
    <link rel="stylesheet" href="/myfootbar_commonpage.min.css"></link>
</head>
<body>
<div class="headbar container-fluid">
    <div class="row">
        <div class="col-xs-4">
            <div class="imgbox">
                <img class="userimg img-responsive" src="/头像.jpg"/>
            </div>
        </div>
        <div class="col-xs-4">
            <a class="headbt" id="infobt">个人信息</a>
        </div>
        <div class="col-xs-4">
            <a class="headbt" id="activitybt">我参与的活动</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-4">
            <h2 class="nickname" th:text="${userInfo.getUsername()}">昵称</h2>
        </div>
        <div class="col-xs-8">
        </div>
    </div>
</div>


<div id="infopage">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12" id="messagebox">

            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <h3>昵称</h3>
            </div>
            <div class="col-xs-9 inputbox">
                <input type="text" id="formusername" name="formusername" th:value="${userInfo.getUsername()}">
            </div>
        </div>


        <div class="row">
            <div class="col-xs-3">
                <h3>电子邮箱</h3>
            </div>
            <div class="col-xs-9 inputbox">
                <p class="emailtext" th:text="${userInfo.getUserEmail()}">无电子邮箱信息</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <h3>密码</h3>
            </div>
            <div class="col-xs-9 inputbox">
                <a href="/user/changePassword">修改密码</a>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-3">
                <h3>所推角色</h3>
            </div>
            <div class="col-xs-9 container-fuild">
                <div class="row">
                    <div class="col-xs-2">
                        <a class="bt charabt" id="charabt1" name="1">高海千歌</a>
                    </div>
                    <div class="col-xs-2">
                        <a class="bt charabt" id="charabt2" name="2">樱内梨子</a>
                    </div>
                    <div class="col-xs-2">
                        <a class="bt charabt" id="charabt3" name="3">松浦果南</a>
                    </div>
                    <div class="col-xs-2">
                        <a class="bt charabt" id="charabt4" name="4">黑泽黛雅</a>
                    </div>
                    <div class="col-xs-2">
                        <a class="bt charabt" id="charabt5" name="5">渡边曜</a>
                    </div>
                    <div class="col-xs-2">
                        <a class="bt charabt" id="charabt6" name="6">津岛善子</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <a class="bt charabt" id="charabt7" name="7">国木田花丸</a>
                    </div>
                    <div class="col-xs-2">
                        <a class="bt charabt" id="charabt8" name="8">小原鞠莉</a>
                    </div>
                    <div class="col-xs-2">
                        <a class="bt charabt" id="charabt9" name="9">黑泽露比</a>
                    </div>
                    <div class="col-xs-2">
                        <a class="bt charabt" id="charabt10" name="10">鹿角圣良</a>
                    </div>
                    <div class="col-xs-2">
                        <a class="bt charabt" id="charabt11" name="11">鹿角理亚</a>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <h3>所推小组</h3>
            </div>
            <div class="col-xs-9 container-fuild">
                <div class="row">
                    <div class="col-xs-2">
                        <a class="bt teambt" id="teambt1" name="1">CYaRon</a>
                    </div>
                    <div class="col-xs-2">
                        <a class="bt teambt" id="teambt2" name="2">AZALEA</a>
                    </div>
                    <div class="col-xs-2">
                        <a class="bt teambt" id="teambt3" name="3">Guilty Kiss</a>
                    </div>
                    <div class="col-xs-2">
                        <a class="bt teambt" id="teambt4" name="4">Saint Snow</a>
                    </div>
                    <div class="col-xs-4">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <h3>所推年级</h3>
            </div>
            <div class="col-xs-9 container-fuild">
                <div class="row">
                    <div class="col-xs-2">
                        <a class="bt gradebt" id="gradebt1" name="1">一年生</a>
                    </div>
                    <div class="col-xs-2">
                        <a class="bt gradebt" id="gradebt2" name="2">二年生</a>
                    </div>
                    <div class="col-xs-2">
                        <a class="bt gradebt" id="gradebt3" name="3">三年生</a>
                    </div>
                    <div class="col-xs-6">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <h3>DD</h3>
            </div>
            <div class="col-xs-9 container-fuild">
                <div class="row">
                    <div class="col-xs-2">
                        <a class="ddbt" id="ddbt1" name="1">我全都要</a>
                    </div>
                    <div class="col-xs-7">
                        <p class="ddtext">
                            <small>（若选中则代表全部角色的应援物都可以接受）</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
            </div>
            <div class="col-xs-9 inputbox">
                <a class="submitbt" id="submitbt1">确认</a>
            </div>
        </div>
        <form id="resultform" action="/user/info" method="post">
            <input id="username" type="hidden" name="username">
            <input id="osuPerson" name="osuPerson" type="hidden" th:value="${userInfo.getOsuPerson()}">
            <input id="osuTeam" name="osuTeam" type="hidden" th:value="${userInfo.getOsuTeam()}">
            <input id="osuGrade" name="osuGrade" type="hidden" th:value="${userInfo.getOsuGrade()}">
            <input id="isDD" name="isDD" type="hidden" th:value="${userInfo.getIsDD()}">
        </form>
    </div>
</div>
<div id="activitypage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <a id="orderbt" class="apbt boldfont">
                    下单记录
                </a>
                <hr>
            </div>
        </div>
    </div>
    <div id="orderrcd">
        <div class="container-fluid orderitem" th:each="orderitem:${orders}">
            <div class="row">
                <div class="col-xs-12 ordertitle boldfont" th:text="${orderitem.getOrderExpressnum()}">
                    无日期显示 快递单号：无快递单号
                </div>
            </div>
            <div class="row ordercontent">
                <div class="col-xs-12 container-fluid">
                    <div class="row boldfont">
                        <div class="col-xs-3">

                        </div>
                        <div class="col-xs-5">
                            作品名称
                        </div>
                        <div class="col-xs-2">
                            发货状态
                        </div>
                        <div class="col-xs-2">
                            备注
                        </div>
                    </div>
                    <div class="row ordersubcontent">
                        <div class="col-xs-8 container-fluid">
                            <div class="row" th:each="orderwork:${orderitem.getUserOrderDetailInfos()}">
                                <div class="col-xs-5">
                                    <img class="img-responsive"
                                         th:attr="src=${orderwork.getWorkCover()}" src="/starsea.png">
                                </div>
                                <div class="col-xs-7 ordercontentbox1" th:text="${orderwork.getWorkName()}">
                                    无作品名称
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2 ordercontentbox1" th:text="${orderitem.getOrderStatus()}">
                            无发货状态
                        </div>
                        <div class="col-xs-2 ordercontentbox1" th:text="${orderitem.getOrderRemark()}">
                            无备注
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 boldfont  ordercontentbox2">
                            收货地址
                        </div>
                        <div class="col-xs-5  ordercontentbox2" th:text="${orderitem.getOrderAddress()}">
                            无收货地址
                        </div>
                        <div class="col-xs-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <a id="acrcdbt" class="apbt boldfont">
                    参与众筹记录
                </a>
                <hr>
            </div>
        </div>
    </div>

    <div id="activityrcd">
        <div class="container-fluid activityitem" th:each="funding:${fundings}">
            <hr>
            <div class="row boldfont activityrow">
                <div class="col-xs-3">

                </div>
                <div class="col-xs-3">
                    活动名称
                </div>
                <div class="col-xs-2">
                    活动日期
                </div>
                <div class="col-xs-2">
                    活动成果
                </div>
                <div class="col-xs-2">
                    备注
                </div>
            </div>
            <div class="row activityrow">
                <div class="col-xs-3">
                    <img class="img-responsive" th:attr="src=${funding.getActivityCover()}" src="/starsea.png">
                </div>
                <div class="col-xs-3 activitycontentbox1" th:text="${funding.getActivityName()}">
                    无活动名称
                </div>
                <div class="col-xs-2 activitycontentbox1" th:text="${funding.getFundingTime()}">
                    无活动日期
                </div>
                <div class="col-xs-2 activitycontentbox1" >
                    <div th:each="work:${funding.getWorks()}">
                        <a th:href="${work.getWorkUrl()}" th:text="${work.getWorkName()}"></a>
                    </div>
                </div>
                <div class="col-xs-2 activitycontentbox1" th:text="${funding.getFundingMessage()}">
                    无备注
                </div>
            </div>
            <hr>
        </div>

    </div>

</div>

<script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"></script>
<script src="/header_and_footer.min.js"></script>
<script src="/userspace.min.js"></script>
<script src="/mynavbar_commonpage.min.js"></script>
</body>

</html>