<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>

<meta charset="utf-8"></meta>

<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<title>星之海志愿者公会</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css
"
	integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w="
	crossorigin="anonymous"></link>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css
"
	integrity="sha256-ZT4HPpdCOt2lvDkXokHuhJfdOKSPFLzeAJik5U/Q+l4="
	crossorigin="anonymous"></link>
<link rel="stylesheet" href="/mynavbar_commonpage.min.css"></link>
<link rel="stylesheet" href="/myfootbar_commonpage.min.css"></link>
<link rel="stylesheet" href="/work_detail.min.css"></link>

</head>
<body>

	<div class="pagetitle">
		<h1 class="h1 pagetitleh1">作品展示</h1>
		<h2 class="h2 pagetitleh2">Works Gallery</h2>
	</div>
	<div class="processbar">
		<ul class="ul">
			<li class="processbarli text-center nowprocess">作品信息</li>
			<li class="processbarli text-center">></li>
			<li class="processbarli text-center">确认订单</li>
			<li class="processbarli text-center">></li>
			<li class="processbarli text-center">处理结果</li>
		</ul>
	</div>
	<div class="container-fluid checklist">

		<div class="row">
			<div class="col-xs-4">
				<img th:attr="src=${work.workCover}" class="img-responsive"></img>
			</div>
			<div class="col-xs-1"></div>
			<div class="col-xs-6">
				<div class="detail">
					<h2 th:text="${work.workName}"></h2>
					<hr class="border1"></hr>
					<h3 th:text="'上架时间:'+${work.workUploadTime}"></h3>
					<h3 th:text="'点击量:'+${work.workClick}"></h3>
					<h3>
						<a target="_blank" th:href="@{${work.workPdfpath}}">下载链接</a>
					</h3>
					<h4 th:text="'提取码:'+${work.workPdfPassword}"></h4>
					<hr class="border1"></hr>
					<span>种类:</span>&nbsp;&nbsp;
					<div id="workType" class="btn-group" data-toggle="buttons">
						<label class="btn btn-default orderbtn"
							th:each="workType:${workTypes}"
							th:attr="data-stock=${workType.stock},data-worktypeid=${workType.workTypeId}">
							<input type="radio" th:text="${workType.name}" />
						</label>
					</div>
					<div>
						<span>库存:</span><span id="stock"></span>
					</div>
					<br /> <br />
					<button th:attr="data-workid=${workId}" id="gotoOrder"
						class="btn btn-info" disabled="disabled">放入购物车</button>
				</div>
			</div>
		</div>
	</div>
	<hr></hr>
	<div id="workImages" class="pdfcontainer">
		<button id="more_image" class="btn btn-info">更多</button>
	</div>

	<div class="fixedbutton">
		<div id="cardiv">
			<button id="gotocar" onclick="window.location.href='/car'">
				<span class="glyphicon glyphicon-shopping-cart"></span>
			</button>
		</div>
	</div>


	<!-- Modal -->
	<div class="modal fade" id="Modalbox" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="ModalLabel">星之海志愿者公会</h5>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Suggesting Modal -->
	<div class="modal fade" id="ModalSuggest" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-suggest" role="document">
			<div class="modal-content modal-content-suggest">
				<div class="modal-body" id="modal-body-suggest"></div>
				<div class="modal-footer" id="modal-footer-suggest">
					<button type="button" class="btn btn-primary btn-modal-suggest"
						data-dismiss="modal">知道了</button>
					<button type="button" class="btn btn-primary btn-modal-suggest"
						id="notunderstand">没明白</button>
				</div>
			</div>
		</div>
	</div>



	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js
"
		integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8="
		crossorigin="anonymous"></script>
	<script src="/modalalert.min.js"></script>
	<script src="/compatible/compatible.min.js"></script>
	<script th:inline="javascript">
	    var workImages = [[${workImages}]];
	    var workTypes=[[${workTypes}]];
	    compatible("/old/work_detail.min.js","/work_detail.min.js");
	</script>
	<script src="/mynavbar_commonpage.min.js"></script>
	<script src="/header_and_footer.min.js"></script>
</body>
</html>